<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTJ-B5Yxc9ctPwhCIBInVLNPJRAQfu4x8</string>
	<key>GCM_SENDER_ID</key>
	<string>617538271214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gotrust.eduPay</string>
	<key>PROJECT_ID</key>
	<string>edupay-a5f33</string>
	<key>STORAGE_BUCKET</key>
	<string>edupay-a5f33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617538271214:ios:5578e2fbd2de5da5af80ff</string>
</dict>
</plist>